@import "tailwindcss";

* {
  font-family: "Roboto", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
input::placeholder {
  color: #8f8f8f;
}
input {
  outline: none;
  border: none;
  background-color: transparent;
}
@theme {
  --color-primary: #0b090b;
  --color-gray-600: #696969;
  --color-gray-800: #8b8b8b;
  --color-gray-890: #898989;
  --color-gray-900: #d9d9d9;
  --color-fiolet: #6f33de;
  --color-gray-50: #f5f5f5;
  --color-green-200: #2ac76e;
  --color-green-500: #06ab4f;
  --radius-lg: 10px;
  --radius-2xl: 20px;
  --text-4xl: 45px;
  --text-5xl: 50px;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1170px) {
  .container {
    padding: 0 38px;
    max-width: 100%;
  }
}

.nav-btn {
  display: inline-block;

  text-align: center;
  transition: all 0.5s;
  cursor: pointer;
}

.nav-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nav-btn span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.nav-btn:hover span {
  padding-right: 15px;
}

.nav-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.info {
  background: url("../img/info-fon.jpg") no-repeat center center;
  background-size: cover;
}
.trend {
  background: url("../img/trend-fon.jpg") no-repeat center center;
  background-size: cover;
}
footer {
  background: url("../img/foot.png") no-repeat center center;
  background-size: cover;
}
@keyframes spin-letter {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  25% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.animate-letter {
  display: inline-block;
  animation: spin-letter .7s ease-in-out forwards;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
